/*

ul {
    
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    padding: 5px 20px;
    background: url(../imagens/seta.png) no-repeat left center;

}

*/



/* LISTA */

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

ul a {
    width: 200px;
    height: 40px;
    display: block;
    color: #000;
    text-decoration: none;
    text-indent: 40px; /*Identar o texto, como um padding*/
    line-height: 40px;
    background: #f7b600 url(../imagens/menu.png) no-repeat left bottom;
}
a:hover { /* Movimentação do background*/
    background-position: right bottom;
    background-color: #f99200;
    color: #FFF;
}

#home #navegacao .home a,
 #sobre #navegacao .sobre a,
 #servicos #navegacao .servicos a {
    background-position: right bottom;
    background-color: #f99200;
    color: #FFF;
}